@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Signika", sans-serif;
    /* background-image: url('../images/fondo17.jpg');  */
    /* fondo primera capa sin movimiento */
    /* background-size: cover;
    background-position: center; */
    /* overflow-x: hidden;  */
    /* Evita la barra de desplazamiento horizontal */
}

/* Animación de movimiento vertical */
@keyframes moveBackground {
    from {
        background-position: center top; /* Posición inicial del fondo */
    }
    to {
        background-position: center bottom; /* Posición final del fondo */
    }
}

/* Aplica el efecto de parallax */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
    background-image: url('../images/fondolargoc.svg'); 
    /* fondo segunda capa con movimiento */
    background-size: 100vw;
    opacity: 1; 
    /* Ajusta la opacidad según sea necesario */
    pointer-events: none;
    animation: moveBackground 1800s linear infinite alternate; 
    /* Define la animación */
}

/* Ajusta el efecto de parallax */
@media (min-width: 768px) {
    body::before {
        transform: scale(1.1); /* Ajusta la escala para el efecto de parallax */
    }
}

.inicio{
    /* background-color: rgb(5, 5, 5); */
    display: flex;
}

/* @keyframes cambio-bgcolor {
    0% {
        background-color: rgb(24, 209, 178);
    }
    30% {
        background-color: rgb(192, 192, 192);
    }
    60% {
        background-color: rgb(252, 229, 229);
    }
    100%{
        background-color: rgb(255, 255, 255);
    }
} */

.nav_container{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: auto;
    margin-top: 2vh;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.301);
    transition: transform 0.8s ease; /* Transición suave para la animación de desplazamiento */
    transform: translateX(-110%); /* Inicialmente, ocultar el menú desplazándolo hacia la izquierda */
}

.nav_container.show {
    transform: translateX(0); /* Mostrar el menú al desplazarlo a la posición original (0) */
}

.flechas_menu{
    display: flex;
    position: fixed;
    margin-top: 0;
    margin-left: 12.5vw;
    transition: transform 0.9s ease;
}

.flecha_menu{
    width: 40px;
    cursor: pointer;
    opacity: 60%;
}


.nav_link{
    margin: 0;
    /* margin-left: 10px; */
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: left;
    list-style: none;
    padding-left: 0;
    /* background-color: rgb(196, 48, 48); */
}

.nav_links{
    width: 150px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* background-color: aqua; */
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 10px 20px;
    /* border-radius: 20px; */
}

.nav_links:hover{
    color: white;
}

.nav_items {
    
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    /* opacity: 0.7; */
    transition: background-color 0.3s; /* Transiciones suaves */
    /* border-radius: 10px; */
    /* background-color: rgb(168, 113, 9); */
}

.nav_items:hover {
    background-color: #1198ce;
    color: white;
    /* opacity: 100%; */
}


/* Config Menu */

.config_container {
    margin: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: auto;
    top: 2vh; /* Alineación desde la parte superior */
    right: 0; /* Alineación a la derecha */
    background-color: #ffffff;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.301);
    transition: transform 0.8s ease;
    transform: translateX(110%); /* Ocultar el menú desplazándolo hacia la derecha */
    align-content: right;
}

.config_container.show {
    transform: translateX(0); /* Mostrar el menú al desplazarlo a la posición original (0) */
}

.config_links{
    margin: 0;
    width: 150px;
    /* align-items: right; */
    /* height: max-content; */
    display: flex;
    flex-direction: column;
    /* align-items: left; */
    list-style: none;
    /* background-color: aqua; */
    padding: 0;
    align-content: right;
}

.config_items{
    display: flex;
    flex-direction: row;
    transition: background-color 0.2s; /* Transiciones suaves */
    margin: 0;
    
    /* width: 150px; */
    /* padding: auto 0; */
    /* border-radius: 10px; */
    /* background-color: rgb(168, 113, 9); */
}

.config_items:hover{
    background-color: #1198ce;
    color: #fff;
    /* opacity: 100%; */
}

.config_link{
    width: 150px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* background-color: aqua; */
    display: flex;
    /* gap: 1em; */
    /* align-items: center; */
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    justify-content: left;
    /* align-items: right; */
    /* padding: 10px 10px; */
    /* border-radius: 20px; */
}

.config_link:hover{
    color: #fff;
}

.config_list_img{
    /* justify-content: right; */
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.icono_config {
    display: flex;
    position: fixed;
    top: 1vh; /* Alineación desde la parte superior */
    right: 13vw; /* Espacio desde el borde derecho */
    transition: transform 0.8s ease;
}

.rueda_config{
    width: 35px;
    cursor: pointer;
}











/* Footer */

.footer_icons{
    margin-top: 10em;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgba(194, 18, 248, 0.521);
}

.footer_image{
    display: block;
    width: 30px;
}

.footer__copyright{
    padding: 0px 10px;
    font-size: 14px;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    color: rgb(105, 105, 105);
}

.lukerweb{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding-top: 20px;
    padding-left: 20px; */
}

.luker{
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-weight: 200;
    color: #ffffffb7;
}

.web{
    font-size: 24px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    /* font-weight: 300; */
    color: rgb(255, 0, 0);
}

.info_inicio{
    /* background-image: linear-gradient(to top, rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.979)); */
    padding-left: 220px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 220px;
    width: 100vw;
    height: 100vh;
    /* margin-bottom: 0; */
    /* background-color: antiquewhite; */
}

.inicio_imagen{
    margin: 2em 0 0 0;
    width: 300px;
}

@keyframes cambio-color {
    0% {
        color: rgb(117, 4, 139);
    }
    25% {
        color: rgb(22, 6, 167);
    }
    50% {
        color: rgb(199, 179, 0);
    }
    80% {
        color: rgb(6, 188, 194);
    }
    100%{
        color: rgb(17, 143, 1); 
    }
}


.info_titulo{
    display: flex;
    width: fit-content;
    margin: 0 0 10px 0;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.888);
    /* animation: cambio-color 10s ease infinite;  */
    /* Ajusta la duración de la animación */
    /* text-shadow: 2px 2px 10px rgb(0, 0, 0); */
}

.info_paragraph{
    margin: 10px 0 20px 0;
    font-size: 38px;
    color: rgb(0, 0, 0, 0.888);
    /* text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.767); */
}

.cta{
    margin-top: 20px;
    display: inline-block;
    background-color: #1198ce;
    justify-self: center;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 32px;
    /* box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.9); */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cta:hover{
    background-color: #000000;
    color: #ffffff;
}

.cta2{
    margin-top: 40px;
    margin-left: 20px;
    display: inline-block;
    background-color: #1198ce;
    justify-self: center;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 32px;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.9); */
}

.cta2:hover{
    background-color: #000000;
    color: #ffffff;
}

.salto_pag1{
    display: flex;
    flex-direction: row;
    margin: 0;
}


.about {
    margin-top: -13vh;
    justify-content: center;
    justify-self: center;
    padding-left: 220px;
    /* padding-top: 10px; */
    padding-bottom: 60px;
    padding-right: 220px;
    height: 65vh;
    /* background-image: url('../images/fondo23.jpg');
    background-size: cover; */
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.900));
    /* background-color: rgba(0, 5, 77, 0.356); */
}

.sobre_mi{
    margin-top: 10rem;
    padding-top: 5vh;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.829);
    /* background-color: antiquewhite; */
    /* animation: cambio-color 1s ease infinite; */
}

.sobre_mi_paragraph{
    margin-top: -2vh;
    font-size: 26px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-align: justify;
}

.sobre_mi_iconos{
    margin-top: 2em;
    gap: 2em;
    display: flex;
}

/* .hidden {
    display: none; 
} */

.sobre_mi_icon{
    height: 60px;
}

.flecha_upcontainer {
    bottom: 1vh;
    right: 1vw;
    width: max-content;
    height: max-content;
    display: flex;
    position: fixed;
    opacity: 0; /* Oculta la flecha inicialmente */
    pointer-events: none; /* Evita que la flecha sea clickeable cuando está oculta */
}

.flecha_up3{
    width: 60px;
    opacity: 60%;
    /* animation: moveBackground 5s linear infinite alternate; */
}

/* .habilidades{
    margin-top: 0;
    padding-left: 220px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 200px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.418);
} */


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.918);
    z-index: 9999;
    overflow: auto;
}

.popup-content {
    margin: 5em auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 70%;
    gap: 6vw;
    background-color: #fffffffa;
    /* border: 20px solid rgb(30, 188, 250); */
    border-radius: 10px;
}

.popup-img {
    height: 15em; /* Ajusta el tamaño original de la imagen */
    transition: transform 0.5s ease-in-out; /* Agrega una transición suave */
}

.popup-img:hover {
    transform: scale(1.4); /* Cambia la escala al pasar el mouse sobre la imagen */
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 85px;
    right: 230px;
    font-size: 50px;
    color: #000000ea;
    cursor: pointer;
}

/* Proyectos(Testimony) */

.salto_pag2{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.testimony{
    margin-top: 12.5vh;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.900));
    padding-left: 200px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 200px;
    color: rgb(34, 34, 34);
    height: 75vh;
}

.iconos_container{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.icono_proyecto{
    width: 30px;
    cursor: pointer;
    
}

.testimony__container{
    height: 70vh;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 2em;
    align-items: center;
    /* margin-bottom: 1vh; */
    /* padding-bottom: 100px; */
    /* background-color: #1198ce; */
    /* margin: auto 100px; */
}

.subtitle{
    color: #000000e3;
}

.review_negrita{
    /* font-weight: 500; */
    color: #360074;
}

.testimony__body{
    display: grid;
    grid-template-columns: 2fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    /* background-color: #ce11af; */
    height: 70vh;
}

.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
}

.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 2%;
    object-fit: cover;
    object-position: 50% 20%;
    margin-left: 1em;
    margin-right: -2em;
}

.testimony__text{
    max-width: 700px;
    color: rgb(121, 120, 120);
    font-size: 20px;
    text-align: justify;
}

.testimony__arrow{
    width: 100%;
    cursor: pointer;
    /* background-color: #03af20;
    font-weight: 600; */
}

.cv_1{
    /* display: flex;
    flex-direction: c; */
    margin-top: 20vh;
    padding-left: 220px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 200px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.87);
}

/* .cv_11{
    color: #ffffff;
} */

.cv_111{
    display: flex;
    flex-direction: row;
    /* background-color: #1198ce; */
    font-size: 24px;
    color: #ffffff;
    justify-content: left;
    align-items: center;
}

.cta4{
    margin-left: 2vw;
    margin-top: 0px;
    display: inline-block;
    background-color: #03af20;
    justify-self: center;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 32px;
    /* box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.9); */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cta4:hover{
    background-color: #ffffff;
    color: #26a500;
}

.cta5{
    margin-top: 10px;
    /* margin-left: 20px; */
    display: inline-block;
    background-color: #1198ce;
    justify-self: center;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 32px;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.9); */
}

.cta5:hover{
    background-color: #000000;
    color: #ffffff;
}




/* Formulario */

/* .form_container{
    background-color: #b33f3ffa;
    padding-left: 220px;
}

.row{
    width: 100%;
    background-color: #360074;
    justify-content: center;
    align-items: center;
} */
/* .templatemo_contacttitle {
    width: 100%;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
    color: #000000;
    text-align: center;
} */
/* 
.templatemo_sub_contacttitle {
    width: 100%;
    font-size: 22px;
    color: #91bf24;
    text-align: center;
    margin-bottom: 50px;
} */

.templatemo_contact {
    margin: 30px;
    width: 100%;
    margin-left: 15%;
}

.templatemo_contactform input, textarea {
    width: 100%;
    background: #282828;
    border: 1px solid #393939;
    padding: 7px 10px;
    margin: 0px 0px 10px 0px;
    background-color: #FAFAFA;
}

.templatemo_contactform textarea {
    height: 100px;
}


.templatemo_contactform .btn-primary {
    background: #92bf24;
    border: none;
    border-radius: 0px;
    color: #3d5602;
    font-weight: 800;
}

.templatemo_contactform .btn-primary:hover {
    background: #a6d82c;
}